
# Heizungssteuerung Configuration

TSDB_HOST = "HOST WHICH RUNS THE OpenTSDB"
TSDB_PORT = 4242
TSDB_TIMEOUT = 5

API_KEY = 'INSERT_API_KEY_HERE'
API_URL = FEDD_ID

sensors = {}
sensors["10b257290208008c"] = {"pachube":"Temperatur_aussen", "hausbus":"aussen"}
sensors["287f085102000084"] = {"pachube":"Temperatur_Heizung_Ruecklauf", "hausbus":"heizung_ruecklauf"}
sensors["28d9075102000005"] = {"pachube":"Temperatur_Heizung_Vorlauf", "hausbus":"heizung_vorlauf"}
sensors["101c0c2902080026"] = {"pachube":"Temperatur_Raum_Beamerplattform", "hausbus":"beamerplattform"}
sensors["101a712902080015"] = {"pachube":"Temperatur_Raum_Tafel", "hausbus":"tafel"}
sensors["108e29ce010800f8"] = {"pachube":"Temperatur_Getraenkelager", "hausbus":"getraenkelager"}
sensors["10b620290208006c"] = {"pachube":"Temperatur_Aetzecke", "hausbus":"aetzecke"}
sensors["1099302902080082"] = {"pachube":"Temperatur_Olymp", "hausbus":"olymp"}

windows = [["x","A0","x","x","A3","x","x","?","x","x","?","x"],["x","A2","A4","?","A1","x","x","B3","?","A5","A6","x"]]

log_dir = "logs/"

